*{
  margin: 0px;
  padding: 0px;
}


.somdika {
    display: flex;
        justify-content: center;
        align-items: center;
        margin: 3vw;
        height: 82vh;
    
        
  }
  .anku
   {
    background:
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    
  
    }
    .itachi
     {
      display: grid;
        place-items: center;
        border: 4px solid rgb(236, 202, 31);
        background: white;
        border-radius: 2vw 2vw;
        padding: 6vw;
        width: 50vw;
        
      
     }
    .batao {
      
      top: left;
      
      border:none; 
      border-radius:7px; 
      padding:8px;
      height:49px; 
      width: 66px;
      
     
    
    }
  .skip{
    height: 35px;
      width: 88px;
      border-radius: 8px;
      background: #01dcff;
      border: 2px solid #01dcff;
      color: #fd0d79;
  }

