*{
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: #333;
    height: 50px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
  }
  
  li a:hover {
    background-color: #555;
  }
  .navBar a.active {
    background-color: #4CAF50;
    color: white;
  }

/* footer */
  body {
  margin: 0;
  padding: 0;
}

.content {
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 24px;
}

.footer-column p {
  font-size: 14px;
}

.social-icons {
  list-style-type: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
}

/* maincontent */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1 {
  margin: 0;
}

main {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.products {
  flex: 0 0 70%;
}

.product {
  background-color: #000000;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.product img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.product h3 {
  margin: 10px 0;
 
}

.categories {
  flex: 0 0 25%;
}

.categories h2 {
  margin-top: 0;
}

.categories ul {
  list-style-type: none;
  padding: 0;
}

.categories li {
  margin-bottom: 10px;
}

.categories a {
  color: #333;
  text-decoration: none;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.bot {
    background-color: #000000;
    color: #fff;
    border: 1px solid white;
    padding: 2px;
    margin: 2px;
}